<nav class="admin-navbar">
  <ul>
    <li><a routerLink="/admin-dashboard">Dashboard</a></li>
    <li><a routerLink="/admin-assessment-create">Create Assessment</a></li>
    <li><a routerLink="/admin-assessment-list">List of Assessments</a></li>
    <li><a routerLink="/admin-question-create">Create Questions</a></li>
    <li><a routerLink="/admin-question-list">List of Questions</a></li>
    <li><a routerLink="/admin-tp-list">List of TPs</a></li>
    <li><a (click)="signOut()">Sign Out</a></li>
  </ul>
</nav>
